<h3>Cart</h3>
<div class="cart-item" *ngFor="let item of items" (click)="removeItemHandler(item.id)">
  <span>{{item.name}}</span>
  <span>${{item.price}}</span>
</div>
<span *ngIf = "items.length > 0">Total: {{total | currency}}</span>
<form [formGroup]="checkOutForm" (ngSubmit)="formSubmitHandler()">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  <button class="button" type="submit">Purchase</button>
</form>